.searchBoxContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
}

.listBox {
  overflow-y: scroll;
  height: 500px;
  width: 400px;
  background-color: antiquewhite;
}
